body {
    padding: o;
    margin: 0;
    border: 0;
    background-color: #ccc;
}

h1, h2 {
    text-align: center;
}

#carousel {
    width: 450px;
    height: 350px;
    margin: auto;
    overflow: hidden;
}

#carousel .slides {
    width: 2250px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    
#carousel .slide {
    width: 450px;
    height: 350px;
    list-style-type: none;
    float: left;
}


